SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=ecommerce
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox

CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
